@import './vendor/_meyer-reset.scss';

$color-black: #000000;
$color-white: #FFFFFF;
$color-yellow: #FFFF00;
$color-green: #00FF00;
$color-red: #FF0000;
$color-cyan: #00AEFF;
$color-orange: #FF9900;
$color-purple: #FF00FF;

$font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;

body {
	font-family: $font-family;
	max-height: 100vh;
	height: 100vh;
	text-align: center;
	background: $color-black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

button {
	font-family: $font-family;
}

.screen-reader-only {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px,1px,1px,1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	overflow: hidden !important;
}

#screen {
	filter: saturate(3);
	position: relative;
	display: inline-block;
	box-shadow: inset 5px 5px 55px 10px rgba(255, 255, 255, 0.17), 0px 0px 100px 10px rgba($color-green, 0.15);
	animation: 1s infinite alternate glow;
	animation-timing-function: linear;
	overflow: hidden;
	width: 800px;
	height: 600px;

	#border,
	section {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	#border {
		display: block;
		border: 2px solid $color-green;
	}

	&.intro {
		#intro {
			display: flex;
		}
	}
	&.game {
		#game {
			display: block;
		}
	}
	&.results {
		#results {
			display: flex;
		}
	}

	p {
		color: $color-yellow;
		width: 75%;
	}
}

#intro {
	animation: 1s ease alternate zoom-in;

	h1 {
		color: $color-red;
		text-transform: uppercase;
		text-shadow: 2px 8px 0px rgba($color-orange, 0.5), 2px 12px 0px rgba($color-orange, 0.5);
		font-size: 16px;
		line-height: 1;
		font-weight: bold;
		transform: perspective(300px) rotateX(-35deg);
		margin-bottom: 80px;
	}
}

#results {
	h2 {
		text-transform: uppercase;
		text-shadow: 2px 8px 0px rgba($color-orange, 0.5), 2px 12px 0px rgba($color-orange, 0.5);
		font-size: 14px;
		line-height: 1;
		margin-bottom: 80px;
		color: $color-red;
	}

	#success,
	#failure {
		display: none;
	}

	&.success {
		#success {
			display: block;
		}
	}

	&.failure {
		#failure {
			display: block;
		}
	}
}

canvas {
	filter: blur(1px);
	position: absolute;
	left: 0;
}

#ghostCanvas {
	opacity: 0.07;
	filter: filter(2px);
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	background-color: transparent;
	background-image: linear-gradient(transparent 50%, $color-black 50%);
	background-size: 4px 4px;

	&::after {
		display: block;
		content: ' ';
		position: absolute;
		background: $color-white;
		top: 0;
		left: 0;
		width: 100%;
		height: 25%;
		animation: 80s infinite descend;
		animation-timing-function: linear;
		opacity: 0.05;
	}

	&::before {
		display: block;
		content: ' ';
		position: absolute;
		background: $color-black;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		animation: 10s infinite ascend;
		animation-timing-function: linear;
		opacity: 0.8;
	}
}

#screen,
canvas,
#border,
#overlay {
	border-radius: 20px;
	pointer-events: none;
}

#audioToggle {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	pointer-events: initial;
	color: $color-red;

	&::after {
		content: " ";
		display: block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $color-red;
		position: absolute;
		top: 35%;
		right: 0;
	}

	&.active {
		color: $color-green;

		&::after {
			background: $color-green;
		}
	}
}

#playerLives {
	position: absolute;
	top: 0;
	right: 0;
	color: $color-cyan;
	line-height: 1;
}

#audioToggle,
#playerLives {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.8em;
}

#leftButton,
#rightButton {
	width: 150px;
	height: 150px;
	position: absolute;
	bottom: 0;
	background: transparent;
	border: none;
	display: none;

	.mobile & {
		display: block;
	}
}

#leftButton {
	left: 0;

	&::after {
		right: 45%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-right-color: $color-red;
		border-width: 40px;
		margin-top: -40px;
	}
}

#rightButton {
	right: 0;

	&::after {
		left: 45%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-left-color: $color-red;
		border-width: 40px;
		margin-top: -40px;
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(0);
	}

	70% {
		transform: scale(1.2);
	}

	85% {
		transform: scale(0.9);
	}

	90% {
		transform: scale(1);
	}

	95% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes glow {
	from {
		filter: saturate(2);
	}

	to {
		filter: saturate(1);
	}
}

@keyframes ascend {
	from {
		top: 120%;
	}

	to {
		top: -10%;
	}
}

@keyframes descend {
	from {
		top: -50%;
	}

	to {
		top: 100%;
	}
}
