@import './vendor/_meyer-reset.scss';

$color-black: #000;
$color-white: #FFF;
$color-yellow: #F1F000;
$color-blue: #0000F0;
$color-green: #01F001;
$color-cyan: #00F0F1;
$color-purple: #F200F2;
$border-width: 2em;
$font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;

body {
	font-family: $font-family;
	max-height: 100vh;
	height: 100vh;
	text-align: center;
	background: $color-black;
	font-size: 1.7vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.5;	
}

* {
	box-sizing: border-box;
}

button {
	font-family: $font-family;
}

#screen {
	filter: saturate(3);
	position: relative;
	display: inline-block;
	border: 2px solid green;
	box-shadow: inset 5px 5px 55px 10px rgba(255, 255, 255, 0.17), 0px 0px 100px 10px rgba(0, 255, 0, 0.06);
	animation: 1s infinite alternate glow;
	animation-timing-function: linear;
	overflow: hidden;
	width: 800px;
	height: 600px;

	section {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		align-items: center;
		justify-content: center;
		flex-direction: column;		
	}

	&.intro {
		#intro {
			display: flex;
		}
	}
	&.game {
		#game {
			display: block;
		}
	}
	&.results {
		#results {
			display: block;
		}
	}
}

#intro {
	animation: 1s ease alternate zoom-in;

	h1 {
		color: red;
		text-transform: uppercase;
		text-shadow: 2px 8px 0px #400, 2px 12px 0px #400;
		font-size: 17px;
		line-height: 1;
		font-weight: bold;
		transform: perspective(300px) rotateX(-35deg);
		margin-bottom: 80px;
	}

	p {
		color: yellow;
		width: 75%;
	}
}

.results {
	h2 {
		color: red;
	}

	p {
		color: yellow;
	}
}

canvas {
	filter: blur(1px);
	position: absolute;
	left: 0;
}

#ghostCanvas {
	opacity: 0.07;
	filter: filter(2px);
}

#mainCanvas {
	
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	background-color: transparent;
	background-image: linear-gradient(transparent 50%, rgba(0,0,0,1) 50%);
	background-size: 4px 4px;

	&::after {
		display: block;
		content: ' ';
		position: absolute;
		background: #fff;
		top: 0;
		left: 0;
		width: 100%;
		height: 25%;
		animation: 80s infinite descend;
		animation-timing-function: linear;
		opacity: 0.05;
	}

	&::before {
		display: block;
		content: ' ';
		position: absolute;
		background: #000;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		animation: 10s infinite ascend;
		animation-timing-function: linear;
		opacity: 0.8;
	}
}

#screen,
canvas,
#overlay {
	border-radius: 20px;
	pointer-events: none;
}

#audioToggle {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	pointer-events: initial;
	color: red;

	&::after {
		content: " ";
		display: block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: red;
		position: absolute;
		top: 35%;
		right: 0;
	}

	&.active {
		color: green;

		&::after {
			background: green;
		}
	}
}

#playerLives {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
}

#audioToggle,
#playerLives {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;	
	padding: 0.8em;
}

#leftButton,
#rightButton {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 0;
	background: transparent;
	border: none;
	display: none;

	.mobile & {
		display: block;
	}
}

#leftButton {
	left: 0;

	&::after {
		right: 40%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 0, 0, 0);
		border-right-color: #ff0000;
		border-width: 50px;
		margin-top: -50px;
	}
}

#rightButton {
	right: 0;

	&::after {
		left: 40%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 0, 0, 0);
		border-left-color: #ff0000;
		border-width: 50px;
		margin-top: -50px;
	}	
}

@keyframes zoom-in {
	0% {
		transform: scale(0)
	}

	70% {
		transform: scale(1.2);
	}

	85% {
		transform: scale(0.9);
	}

	90% {
		transform: scale(1);
	}

	95% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes glow {
	from {
		filter: saturate(2);
	}

	to {
		filter: saturate(1);
	}
}

@keyframes ascend {
	from {
		top: 120%;
	}

	to {
		top: -10%;
	}
}

@keyframes descend {
	from {
		top: -50%;
	}

	to {
		top: 100%;
	}
}
